.highRating{
    color: red !important;
}
.am-card-header-content img{
    width: 15%;
}
.skeleton .skeleton-head,
.skeleton .skeleton-title,
.skeleton .skeleton-footer,
.skeleton .skeleton-content {
    background: rgb(194, 207, 214);
    background-image: linear-gradient(90deg,rgba(255, 255, 255, 0.15) 25%, transparent 25%);
    background-size: 20rem 20rem;
    animation: skeleton-stripes 1s linear infinite;
}

@keyframes skeleton-stripes {
    from {
        background-position: 0 0 ;
    }
    to {
        background-position: 20rem 0;
    }
}

.skeleton-head{
    height: 50px;
}
.skeleton-content{
    margin-top: 10px;
    height: 250px;
}
.skeleton-footer{
    margin-top: 10px;
    height: 30px;
}